@model WebApplication1.Models.KHACHHANG

@{
    ViewBag.Title = "Đổi điểm thưởng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("MaKH", Model.MaKH)

    <div class="form-horizontal">
        <h4>Đổi Điểm Thưởng</h4>
        <hr />

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-@ViewBag.MessageType">
                @ViewBag.Message
            </div>
        }

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Khách hàng</label>
            <div class="col-md-10">
                <input type="text" class="form-control" value="@Model.HoTen" readonly="readonly" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Điểm hiện có</label>
            <div class="col-md-10">
                <input type="text" class="form-control" value="@Model.DiemTichLuy" readonly="readonly" style="font-weight:bold; color:green;" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="DiemMuonDoi">Số điểm muốn đổi</label>
            <div class="col-md-10">
                <input type="number" id="DiemMuonDoi" name="DiemMuonDoi" class="form-control" placeholder="Nhập số điểm (VD: 10)" min="1" max="@Model.DiemTichLuy" required />
                <span class="text-danger field-validation-valid" data-valmsg-for="DiemMuonDoi" data-valmsg-replace="true"></span>
                <small class="text-muted">Tỷ lệ quy đổi: 1 điểm = 1,000 VNĐ.</small>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Xác nhận Đổi" class="btn btn-primary" />
                @Html.ActionLink("Hủy bỏ", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}